.root {
    -fx-background-color: linear-gradient(to bottom, #89f7fe, #66a6ff);
    -fx-font-family: "Segoe UI", sans-serif;
}
.label.header {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50; 
}
.button {
    -fx-background-color: #ff6f61;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 8px 15px;
    -fx-background-radius: 10;
}
.button:hover {
    -fx-background-color: #ff3b2e;
}
.text-field {
    -fx-background-radius: 5;
    -fx-padding: 5;
}
.table-view {
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}
